<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contributing to Brewing at Hookt Studios</title>
    <meta name="description" value="Learn more about our team contributions to Open Source community (mostly ruby stuff)." />
    <meta name="viewport" content="width=device-width">
    <meta property="og:image" content="http://brew.hooktstudios.com/img/logo.png"/>
    <meta property="og:site_name" content="Brewing at Hookt Studios"/>
    <%= css :app, :media => 'screen' %>
    <%= js  :app %>
  </head>
  <body>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9009943-6']);
    _gaq.push(['_setDomainName', 'brew.hooktstudios.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>