<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contributing to Brewing at Hookt Studios</title>
    <meta name="description" value="Learn more about our team contributions to the Open Brewing community." />
    <meta name="viewport" content="width=device-width">
    <meta property="og:image" content="http://brew.hooktstudios.com/img/logo.png"/>
    <meta property="og:site_name" content="Brewing at Hookt Studios"/>
    <%= css :app, :media => 'screen' %>
    <%= js  :app %>
  </head>
  <body>
    <header>
      <h1>Brew.HS</h1>
    </header>
    <div class="beer">
      <h2>La Ale-P</h2>
      <%= img 'ale-p.png',
        alt: 'La Ale P : ça me semble honnête',
        longdesc: 'Ale P : ça me semble honnête.
          Cuvée de 14L brassée le 1 mars 2013, bière de type IPA clone de la '
      %>
    </div>
    <div class="beer">
      <h2>La Bucket</h2>
    </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9009943-6']);
    _gaq.push(['_setDomainName', 'brew.hooktstudios.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>