<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= t 'layout.title' %></title>
    <meta name="description" content="<%= t 'layout.description' %>" />
    <meta name="viewport" content="width=device-width">
    <meta property="og:image" content="http://brew.hooktstudios.com/img/logo.png"/>
    <meta property="og:site_name" content="Brewing at Hookt Studios"/>
    <%= css :app, :media => 'screen' %>
    <%= js  :app %>
  </head>
  <body>
    <header class="inner">
      <h1>Brew.HS</h1>
      <% if I18n.locale == :en %>
        <a href="/">FR</a>
      <% else %>
        <a href="/en">EN</a>
      <% end %>
      <h2>Dans nos chaudières</h2>
      <p>La prochaine brassée de Hookt va être une bock nommée <em>la Bockette.</em></p>
    </header>
    <ol class="beers">
      <li>
        <h2>La Ale-P</h2>
      </li>
    </ol>

    <section class="inner">
      <h2 class="h1-like">À propos</h2>
      <h3 class="h2-like">Ceci est un historique des bières <br>brassées par Hookt Studios</h3>
      <p>Nous sommes une jeune entreprise dynamique de Québec composée de professionnels passionnés. Brasser de la bière artisanale est un loisir que nous partageons.</p>
    </section>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9009943-6']);
    _gaq.push(['_setDomainName', 'brew.hooktstudios.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>