@import "assets/css/bourbon/bourbon";
@import "assets/css/mixins";
@import "assets/css/reset";

@include font-face(novecento, "/fonts/novecentowide-bold-webfont", bold);
@include font-face(gentium, "/fonts/GenBkBasR");
@include font-face(gentium, "/fonts/GenBkBasBI", bold, italic);

html {
  font-size: 62.5%;
}

body {
  @include rem(18);

  background: #262626;
  color: #fff;
  font-family: gentium;
  line-height: 2;
}

h1,
.h1-like {
  @include rem(116);

  font-family: novecento;
  font-style: normal;
  font-weight: bold;
  color: #1f1f1f;
  line-height: 1;
  margin: -32px 0 70px;
  -webkit-font-smoothing: antialiased;
}

h2,
.h2-like {
  @include rem(36);

  color: #c2c3af;
  font-family: gentium;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
}

em {
  font-style: italic;
  font-weight: bold;
}

.inner {
  margin: 0 auto;
  width: 1024px;
}

.beers li {
  background: url("/img/beers/ale_p.jpg") top center no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  width: 100%;
  z-index: 1000;
}