@import "assets/css/bourbon/bourbon";
@import "assets/css/mixins";
@import "assets/css/reset";

@include font-face(novecento, "/fonts/novecentowide-bold-webfont", bold);

html {
  font-size: 62.5%;
}

header {
  position: absolute;
  width: 100%;
}

h1 {
  @include rem(13);
  @include linear-gradient(#fff, #000);

  opacity: 0.5;
  color: #fff;
  display: block;
  padding: 20px;
}

.beer {
  padding: 80px;
}